<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.3.1" id="https://addons.opera.com/addons/extensions/details/reddited/">
  <name>
    Reddited
  </name>
  <author href="http://jakebarnes.com.au" email="jakerodneybarnes@gmail.com">
    DuBistKomisch
  </author>
  <description xml:lang="en">
    Has this page been on reddit?
  </description>
  <license href="http://www.apache.org/licenses/LICENSE-2.0">
    Copyright 2012 DuBistKomisch, gautamchandna

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    THOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    e the License for the specific language governing permissions and
    mitations under the License.
  </license>
  <icon src="reddited_64.png" width="64" height="64"/>
  <icon src="reddited_32.png" width="32" height="32"/>
  <icon src="reddited_18.png" width="18" height="18"/>
  <preference name="badgeContent" value="submissions" readonly="false" />
  <preference name="listSorting" value="score" readonly="false" />
  <preference name="cacheTime" value="30" readonly="false" />
  <access origin="http://www.reddit.com/"/>
  <feature name="opera:share-cookies" required="true"/>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/d449e58d-3ea1-4019-a76a-d6f82a83c628/"/>
</widget>
